<!DOCTYPE HTML>
<html>
<head>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.7.2.min.js"></script>
  <script src="javascripts/index.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet">

  <title><%= title %></title>
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= title %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar-collapse-1" class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button type="button" class="btn btn-default navbar-btn" id="newProjectButton">New project</button>
        </li>
        <li>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input id="projectName" type="text" class="form-control" placeholder="Project Name">
              <span class="label label-warning error" id="projectName_error">Error</span>
            </div>
            <button type="button" class="btn btn-default" id="saveButton" >Save</button>
          </form>
        </li>

        <li>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <div class="btn-group" >
                <button <% if(!user){ %> style="display: none;" <%}%> type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="loadButton">
                  Load <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" id="projectsList">            
                </ul>
              </div>
            </div>
          </form>
        </li>
        <li id="loginMenu" <% if(user){ %> style="display: none;" <%}%> >
          <button data-toggle="modal" data-target="#login" type="button" class="btn btn-default navbar-btn"  >Login</button>
        </li>
        <li id="logoutMenu" <% if(!user){ %> style="display: none;" <%}%> >
          <button id="logoutButton" type="button" class="btn btn-primary navbar-btn">Logout</button>
        </li>        
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div class="col-sm-2" id="toolbox">
    <ul class="template">
       <li class="btn-group">
          <button type="button" class="btn btn-default navbar-btn">Templates</button>
          <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Drop-down</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" id="laptopWindow">Web</a></li>
            <li><a href="#" id="mobileWindow">Mobile</a></li>
          </ul>
        </li>
    </ul>
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-search"></span></a></li>
      <li><a href="#profile" data-toggle="tab"><span class="glyphicon glyphicon-check"></span></a></li>
      <li><a href="#messages" data-toggle="tab"><span class="glyphicon glyphicon-collapse-up"></span></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="home">...</div>
      <div class="tab-pane fade" id="profile">...</div>
      <div class="tab-pane fade" id="messages">...</div>
      <div class="tab-pane fade" id="settings">...</div>
    </div>

    <ul class="iconbox">
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-comment"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-link"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-upload"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-floppy-disk"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-lock"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-paperclip"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-pencil"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-phone"></span>
          </button>
      </li>
    </ul>

    <ul class="iconbox">
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-picture"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-print"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-qrcode"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-trash"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-user"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-wrench"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-cloud-download"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-phone"></span>
          </button></li>
    </ul>
  </div>

<div class="col-sm-8" id="container"></div>
<!--<div class="col-sm-2" id="friends">
  <button type="button" class="btn btn-default btn-lg">
  <ul>
    <li>User 1</li>
    <li>User 2</li>
    <li>User 3</li>
  </ul>
</div> -->
  

  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="loginLabel">Log in</h4>
        </div>
        <div class="modal-body">
          <!-- Horizontal form -->
          <!-- http://getbootstrap.com/css/?#forms -->
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Email">
                <span class="label label-warning error" id="email_error">Error</span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <span class="label label-warning error" id="password_error">Error</span>
              </div>
            </div>
          </form>
        </div><!-- End of horizonal form -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#register">Register</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="loginButton">Login</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

   <!-- Modal -->
  <!-- http://getbootstrap.com/javascript/#modals -->
  <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="registerLabel">Register</h4>
        </div>
        <div class="modal-body">
          <!-- Horizontal form -->
          <!-- http://getbootstrap.com/css/?#forms -->
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="useName" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="userName" class="form-control" id="userName" placeholder="Name">
                <span class="label label-warning error" id="userName_error">Error</span>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="registerEmail" placeholder="Email">
                <span class="label label-warning error" id="email_error">Error</span>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="registerPassword" placeholder="Password">
                <span class="label label-warning error" id="password_error">Error</span>
              </div>
            </div>
          </form>
        </div><!-- End of horizonal form -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="registerButton">Register</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <!-- Alert for closing window with unsaved -->
  <!-- http://getbootstrap.com/javascript/#alerts -->
  <!-- Need to make the action occur when hitting close window button -->
 

</body>
</html>