<!DOCTYPE HTML>
<html>
<head>
  <style>
    body {
      margin: 0px;
      padding: 0px;
    }
  </style>
  <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.7.2.min.js"></script>
  <script src="javascripts/index.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet">

  <title><%= title %></title>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= title %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar-collapse-1" class="collapse navbar-collapse navbar-ex1-collapse">
      
      
      <ul class="nav navbar-nav navbar-right">
        <li><button type="button" class="btn btn-default btn-lg">
         <span class="glyphicon glyphicon-arrow-left"></span>
         </button>
        </li>
        <li>
          <button type="button" class="btn btn-default btn-lg">
           <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-file"></span>
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-share"></span>
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-save"></span>
          </button>
        </li>
        <li class="btn-group">
          <button type="button" class="btn ">Action</button>
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">New Rev</a></li>
            <li class="divider"></li>
            <li><a href="#">Rev1</a></li>
            <li><a href="#">Rev2</a></li>
            <li><a href="#">Rev3</a></li>
          </ul>
          <button type="button" class="btn btn-default">Save</button>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>


<!--  <div id="featurebox"> -->
    

  <div class="" id="toolbox">
    <ul class="left">
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-comment"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-link"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-upload"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-floppy-disk"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-lock"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-paperclip"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-pencil"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-phone"></span>
          </button>
      </li>
    </ul>

    <ul class="left">
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-picture"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-print"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-qrcode"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-trash"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-user"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-wrench"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-cloud-download"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-phone"></span>
          </button></li>
    </ul>

  <div id="container"></div>

</body>
</html>