<!DOCTYPE HTML>
<html>
<head>
  <style>
    body {
      margin: 0px;
      padding: 0px;
    }
  </style>
  <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.7.2.min.js"></script>
  <script src="javascripts/index.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet">

  <title><%= title %></title>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" href="#"><%= title %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav"></ul>
      
      <ul class="nav navbar-nav navbar-right"></ul>
    </div><!-- /.navbar-collapse -->
  </nav>

<!--  <div class="col-lg-offset-1 col-lg-9">
    <div class="" id="featurebox"></div>
    <div class="">
      <div id="container"></div>
    </div>
    <div class="" id="toolbox">
    	<ul>
    		<li>ONE</li>
    		<li>two</li>
    		<li>C</li>
    	</ul>
    </div>
-->

  <div id="featurebox">
    <div><button type="button" class="btn btn-default btn-lg">
         <span class="glyphicon glyphicon-arrow-left"></span>
         </button>
    </div>
    <div><button type="button" class="btn btn-default btn-lg">
         <span class="glyphicon glyphicon-arrow-right"></span>
         </button>
    </div>
    <div><button type="button" class="btn btn-default btn-lg">
         <span class="glyphicon glyphicon-pencil"></span>
         </button>
    </div>
    <div><button type="button" class="btn btn-default btn-lg">
         <span class="glyphicon glyphicon-file"></span>
         </button>
    </div>
    <div><button type="button" class="btn btn-default btn-lg">
         <span class="glyphicon glyphicon-upload"></span>
         </button>
    </div>
    <div><button type="button" class="btn btn-default btn-lg">
         <span class="glyphicon glyphicon-share"></span>
         </button>
    </div>
    <div><button type="button" class="btn btn-default btn-lg">
         <span class="glyphicon glyphicon-save"></span>
         </button>
    </div>
  </div>

  <div id="container"></div>


  <div class="" id="toolbox">
    <ul id="left">
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-comment"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-link"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-upload"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-floppy-disk"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-lock"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-paperclip"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-pencil"></span>
          </button>
      </li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-phone"></span>
          </button>
      </li>
    </ul>

    <ul id="right">
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-picture"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-print"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-qrcode"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-trash"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-user"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-wrench"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-cloud-download"></span>
          </button></li>
      <li><button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-phone"></span>
          </button></li>
    </ul>
  </div> 

    <div class="well">
      <!-- Split button -->
      <div class="col-lg-offset-9">
        <div class="btn-group">
          <button type="button" class="btn ">Action</button>
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">New Rev</a></li>
            <li class="divider"></li>
            <li><a href="#">Rev1</a></li>
            <li><a href="#">Rev2</a></li>
            <li><a href="#">Rev3</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-default">Save</button>
      </div>
    </div>
  </div>


</body>
</html>