#container {
	
	background-color: white;
	border-radius: 20px;
	border: 7px solid black;
	height:580px;
	float: left; 
	overflow: hidden;
}
.nav li{
	padding-right: 5px;
}

#toolbox {
	/*background-color: lightgray;
	border-radius: 20px;
	border: 10px solid black;
	height:600px;
	width:300px;*/
	float: left;
}

#toolbox ul {
	list-style-type: none;
	/*margin-right:5px;*/
	margin-left:5px;
	padding: 0px;
}
#toolbox li {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.project {
	display: none; /* hidden for now */
	float: left;
}

.revision {
	float: left;
}

.iconbox {
	float: left;
}

.right {
	/*margin-right: 50px;*/
	float: right;
}
#friends {
	/*margin-right: 50px;*/
	float: left;
	border-radius: 5px;
	border: 1px solid black;
}


#bottom{
	clear:both;
}

.error{
	
}