

div {
	display: inline-block;
}

#featurebox {
	background-color: lightgray;
	border-radius: 20px;
	border: 10px solid black;
	height:100px;
	width:1300px;
	margin-bottom: 10px;
	clear: both;
	display: inline-block;
}

#container {
	background-color: lightgray;
	border-radius: 20px;
	border: 8px solid black;
	height:600px;
	width:1000px;
	float: right;
}

#toolbox {
	background-color: lightgray;
	border-radius: 20px;
	border: 10px solid black;
	height:600px;
	width:300px;
	float: left;
}

ul {
	list-style-type: none;
}
li {
	margin-top: 50px;
	margin-bottom: 50px;
}

#left {
	float: left;
}

#right {
	/*margin-right: 50px;*/
	float: right;
}