<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->

<!--
=======================================================================================
 Brooklyn HTML Template by United Themes (http://www.unitedthemes.com)
 Marcel Moerkens & Matthias Nettekoven 
=======================================================================================
-->

<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<title>Brooklyn</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="css/reset.css" media="all">
    <link rel="stylesheet" href="css/ut-fontface.css" media="all">
    <link rel="stylesheet" href="css/font-awesome.css" media="all">
	<link rel="stylesheet" href="css/flexslider.css" media="all">
    <link rel="stylesheet" href="css/magnific-popup.css" media="all">
    <link rel="stylesheet" href="css/ut-responsive-grid.css" media="all">
    <link rel="stylesheet" href="css/style.css" media="all">
    
    <!-- DEMO Switcher
  	================================================== -->
    <link rel="stylesheet" href="../styleswitcher/css/styleswitcher.css">
    
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
	<![endif]-->
    
    <!--[if lte IE 8]> 
		<link rel="stylesheet" type="text/css" href="css/ie8.css" />
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<!-- Load jQuery
  	================================================== -->
  	<script src="js/jquery.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/device.min.js"></script>
    
    <!-- DEMO Switcher
  	================================================== -->
    <script src="../styleswitcher/js/styleswitcher.js"></script>
    
</head>

<body id="mainsite">
	
    <div id="ut_styleswitcher">
            
	<div style="position: relative;">
            
            <a href="#" class="toggle"></a>
            <h1>Color Switcher</h1>
            
            <p>
            <a class="colorchange amethyst" href="../amethyst/index.html">Amethyst</a>
            <a class="colorchange asbestos" href="../darkgrey/index.html">Dark Grey</a>
            <a class="colorchange carrot" href="../carrot/index.html">Carrot</a>
            <a class="colorchange emerald" href="../green/index.html">Green</a>
            <a class="colorchange midnight" href="../midnightblue/index.html">Midnight Blue</a>
            <a class="colorchange river" href="index.html">Blue</a>
            <a class="colorchange pomegranate" href="../red/index.html">Red</a>
            <a class="colorchange pumpkin" href="../pumpkin/index.html">Pumpkin</a>
            <a class="colorchange sunflower" href="../yellow/index.html">Yellow</a>
            <a class="colorchange turquoise" href="../turquoise/index.html">Turquoise</a>
            </p>
            
            <h1>Layout</h1>
            <input type="button" value="Video Header" onClick="location.href='index-video.htm'">
            <input type="button" value="Slider Header" onClick="location.href='index-slider.html'">
            
            <br />
            <span class="info">This Panel is only for demo purposes! </span>
            
        </div>
        
    </div>
    
    
    <a id="top"></a>
    
	<!-- Page Layout
	================================================== -->
    
     <!-- header section -->
	<header id="header-section" class="ha-header ha-header-hide">
    	<div class="grid-container">
				<div class="ha-header-perspective">
					<div class="ha-header-front">
                    <div class="grid-30 tablet-grid-20 hide-on-mobile">
						<h1 class="logo"><a href="#top"><img src="images/logo.png" alt="logo"></a></h1>
                        </div>
						<nav id="ut-navigation" class="grid-70 tablet-grid-80 mobile-grid-100">
                        	<a class="selected" href="#top">Home</a>
							<a href="#main-content">About</a>
							<a href="#team-section">Team</a>
							<a href="#service-section">Service</a>
                            <a href="#portfolio-section">Work</a>
                            <a href="#contact-section">Contact</a>
						</nav>
					</div>
				</div><!-- close .ha-header-perspective --> 
        </div><!-- close grid container -->  
    </header><!-- close header -->
    
    <div class="clear"></div>
    
	<!-- hero section -->
    <section class="hero ha-waypoint parallax-section parallax-banner-1 parallax-background" data-animate-up="ha-header-hide" data-animate-down="ha-header-hide">
        <div class="parallax-overlay parallax-overlay-1"></div> 
    	<div class="grid-container">
    		
            <!-- hero holder -->
            <div class="hero-holder grid-70 mobile-grid-100 tablet-grid-100">
            	<div class="hero-inner">
                    <span class="hero-description">Birthday - Marriage - RoadShows - Rally - Product Launch Event - Campus Events - Mall Tours - Flash Mob</span>
                    <h1 class="hero-title">Plan your <span>Event</span></h1>
                    <a id="to-about-section" class="hero-btn">Create Event</a>
                </div>
            </div><!-- close hero-holder -->    													
    	</div>
    </section><!-- close hero section -->
    
    <div class="clear"></div>
   
    <div id="main-content" class="wrap">
    
    <!-- about section -->
	<section id="about-section" class="about-section content-section ha-waypoint" data-animate-up="ha-header-hide" data-animate-down="ha-header-small">
		<div class="grid-container">
        	
            <!-- section header -->
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <header class="section-header">
                    <h2 class="section-title"><span>About Brooklyn</span></h2>
                    <p class="section-slogan">We are a creative agency located in <strong>Brooklyn</strong>, <strong>New York</strong>. We’ve won a ton of awards and have been featured in all of the magazines.</p>
                </header>
            </div>
            <!-- close section header -->
            
            <div class="grid-50 tablet-grid-100 mobile-grid-100 about-box">
            	<figure class="about-icon"><img src="images/app-development.png" alt="app-development"></figure>
                
                <div class="about-box">
                    <h3>App Development</h3>
                    <p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna.</p>
                </div>
            </div>
            
            <div class="grid-50 tablet-grid-100 mobile-grid-100 about-box">
            	<figure class="about-icon"><img src="images/ui-design.png" alt="ui-design"></figure>
                
                <div class="about-box">
                    <h3>UI Design</h3>
                    <p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna.</p>
                </div>
            </div>
            
            <div class="grid-50 tablet-grid-100 mobile-grid-100 about-box">
            	<figure class="about-icon"><img src="images/brand-identity.png" alt="brand-identity"></figure>
                
                <div class="about-box">
                    <h3>Brand & Identity</h3>
                    <p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna.</p>
                </div>
            </div>
            
            <div class="grid-50 tablet-grid-100 mobile-grid-100 about-box">
            	<figure class="about-icon"><img src="images/consultancy.png" alt="consultancy"></figure>
                
            	<div class="about-box">
                    <h3>Consultancy</h3>
                    <p>Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna.</p>
                </div>
            </div>
            
    	</div><!-- close grid-container -->
    </section><!-- close about section -->
            
    <div class="clear"></div>
    
    <!-- parallax banner 2-->
     <section id="parallax-section-2" class="parallax-section parallax-banner-2 parallax-background parallax-section-2 ha-waypoint">
     <div class="parallax-overlay parallax-overlay-2"></div>
		<div class="grid-container parallax-content">
            
            	<!-- parallax header -->
            	<div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                    <header class="parallax-header">
                        <h2 class="parallax-title"><span>Our Philosophy is</span></h2>
                        <p class="parallax-slogan">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec libero molestie ipsum dignissim condimentum. Donec at ligula elit. Nunc nec ipsum lectus.</p>
                    </header>
                </div>
            	<!-- close parallax header -->
   
		</div><!-- close grid container -->
	</section><!-- close parallax banner 2-->
    
    <div class="clear"></div>
    
    <!-- team section -->
	<section id="team-section" class="team-section content-section">
		<div class="grid-container">
        	
            <!-- section header -->
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <header class="section-header">
                    <h2 class="section-title"><span>Our Team</span></h2>
                    <p class="section-slogan">We believe in a <strong>diverse</strong> range of personel to bring creative skills, thoughts, and <strong>ideas</strong> to the table.</p>
                </header>
            </div>
            <!-- close section header -->
            
            <div class="clear"></div>
            
            <!-- member 1 -->
			<div class="member-box grid-25 mobile-grid-100 tablet-grid-50">
            	<figure class="member-photo"><img src="images/member1.jpg" alt="member"></figure>
                
                <div class="member-box">
                    <h3>Walther White</h3>
                    <span>Founder</span>
                </div>
                
			</div><!-- close member -->
            
            <!-- member 1 -->
			<div class="member-box grid-25 mobile-grid-100 tablet-grid-50">
            	<figure class="member-photo"><img src="images/member2.jpg" alt="member"></figure>
                
                <div class="member-box">
                    <h3>Jesse Pinkman</h3>
                    <span>Manufacturer</span>
                </div>
                
			</div><!-- close member -->
            
            <!-- member 1 -->
			<div class="member-box grid-25 mobile-grid-100 tablet-grid-50">
            	<figure class="member-photo"><img src="images/member3.jpg" alt="member"></figure>
                
                <div class="member-box">
                    <h3>Mike Ehrmantraut</h3>
                    <span>Private Investigator</span>
                </div>
                
			</div><!-- close member -->
            
             <!-- member 1 -->
			<div class="member-box grid-25 mobile-grid-100 tablet-grid-50">
            	<figure class="member-photo"><img src="images/member4.jpg" alt="member"></figure>
                
                <div class="member-box">
                    <h3>Gustavo Fring</h3>
                    <span>Philanthropist</span>
                </div>
                
			</div><!-- close member -->
            
            <!-- member 1 -->
			<div class="member-box grid-25 mobile-grid-100 tablet-grid-50">
            	<figure class="member-photo"><img src="images/member5.jpg" alt="member"></figure>
                
                <div class="member-box">
                    <h3>Wendy S.</h3>
                    <span>The Crossroads Motel</span>
                </div>
                
			</div><!-- close member -->
            
             <!-- member 1 -->
			<div class="member-box grid-25 mobile-grid-100 tablet-grid-50">
            	<figure class="member-photo"><img src="images/member6.jpg" alt="member"></figure>
                
                <div class="member-box">
                    <h3>Skyler White</h3>
                    <span>Bookkeeper</span>
                </div>
                
			</div><!-- close member -->
            
             <!-- member 1 -->
			<div class="member-box grid-25 mobile-grid-100 tablet-grid-50">
            	<figure class="member-photo"><img src="images/member7.jpg" alt="member"></figure>
                
                <div class="member-box">
                    <h3>Saul Goodman</h3>
                    <span>Manager</span>
                </div>
                
			</div><!-- close member -->
            
             <!-- member 1 -->
			<div class="member-box grid-25 mobile-grid-100 tablet-grid-50">
            	<figure class="member-photo"><img src="images/member8.jpg" alt="member"></figure>
                
                <div class="member-box">
                    <h3>Todd Alquist</h3>
                    <span>Lab assistant for Mr. White</span>
                </div>
                
			</div><!-- close member -->
			
		</div><!-- close grid-container -->  
	</section><!-- close team section -->
    
   <div class="clear"></div>
    
    <!-- cta section -->
    <section id="cta-section" class="cta-section content-section">
    	<div class="grid-container">    
        	<div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">            
            	<span class="cta-btn cl-effect-18"><a href="#" class="cl-effect-18">Drop us a line</a></span>
            </div>            
    	</div> 
    </section><!-- close cta section -->
        
    <div class="clear"></div>    
    
    <!-- parallax banner 3-->
     <section id="service-section" class="parallax-section parallax-banner-3 parallax-background service-section">
     <div class="parallax-overlay parallax-overlay-3"></div>
		<div class="grid-container parallax-content">
        	<div class="grid-parent grid-100 mobile-grid-100 tablet-grid-100">
            
            <!-- entry header -->
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
            <header class="parallax-header">
            <h2 class="parallax-title"><span>Our Service</span></h2>
            <p class="parallax-slogan">Our <strong>quality standards</strong> apply also in terms of service, technical expertise and advice. Our dedicated employees are happy to assist you with know-how and experience in your daily business.</p>
            </header>
            </div>
            <!-- close entry header -->
 
            <!-- icon box 1 -->
			<div class="grid-33 mobile-grid-100 tablet-grid-100">
            	<div class="box-fade icon-box">
            	<div class="arrow-right"></div>
				<i class="icon-time icon-4x service-icon"></i>
                </div>
                <div class="box-fade info"> 
                <h3>Consulting</h3>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
               </div>
			</div><!-- close icon box -->
            
            <!-- icon box 2 -->
			<div class="grid-33 mobile-grid-100 tablet-grid-100">
            	<div class="box-fade icon-box">
            	<div class="arrow-right"></div>
                <i class="icon-globe icon-4x service-icon"></i>
                </div>
                <div class="box-fade info"> 
                <h3>Systems Integration</h3>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
               </div>
              
			</div><!-- close icon box -->
            
            <!-- icon box 3 -->
			<div class="grid-33 mobile-grid-100 tablet-grid-100">	
                <div class="box-fade icon-box">
            	<div class="arrow-right"></div>
				<i class="icon-umbrella icon-4x service-icon"></i>
                </div>
                <div class="box-fade info"> 
                <h3>Support</h3>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
               </div>
			</div><!-- close icon box -->
    
    </div><!-- close grid-100 -->
		</div><!-- close grid container -->
	</section><!-- close parallax banner 3-->
    
    <div class="clear"></div>
    
    <!-- portfolio section -->
	<section id="portfolio-section" class="portfolio-section content-section">
		<div class="grid-container">
        	
            <!-- section header -->
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <header class="section-header">
                    <h2 class="section-title"><span>Portfolio</span></h2>
                    <p class="section-slogan">We believe our work <strong>speaks</strong> for itself. Browse our most recent projects below.</p>
                </header>
            </div>
            <!-- close section header -->
            
            <div class="clear"></div>
            
            <!-- portfolio box 1 -->
			<div class="grid-33 mobile-grid-50 tablet-grid-50">
            	<a class="portfolio-popup" href="images/portfolio/large/p1.jpg">
            	<div class="portfolio-box">       
            	<figure class="portfolio-image"><img src="images/portfolio/thumb/p1.jpg" alt="portfolio image"></figure><!-- close portfolio image -->
                <div class="portfolio-caption">
                    <h3 class="portfolio-title">Camera<span class="portfolio-category">Photography</span></h3>
                </div><!-- close portfolio caption -->               
                </div>
                </a>              
			</div><!-- close portfolio -->
            
            <!-- portfolio box 2 -->
			<div class="grid-33 mobile-grid-50 tablet-grid-50">
            	<a class="portfolio-popup" href="images/portfolio/large/p2.jpg">
            	<div class="portfolio-box">       
            	<figure class="portfolio-image"><img src="images/portfolio/thumb/p2.jpg" alt="portfolio image"></figure><!-- close portfolio image --> 
                <div class="portfolio-caption">
                    <h3 class="portfolio-title">Angelica<span class="portfolio-category">Photography</span></h3>
                </div><!-- close portfolio caption -->
                </div>
                </a>               
			</div><!-- close portfolio -->
            
            <!-- portfolio box 3 -->
			<div class="grid-33 mobile-grid-50 tablet-grid-50">
            	<a class="portfolio-popup-video" href="http://www.youtube.com/watch?v=ZouARplh7iY">
            	<div class="portfolio-box">       
            	<figure class="portfolio-image"><img src="images/portfolio/thumb/p3.jpg" alt="portfolio image"></figure><!-- close portfolio image -->
                <div class="portfolio-caption">
                    <h3 class="portfolio-title">iMac<span class="portfolio-category">Video</span></h3>
                </div><!-- close portfolio caption -->
                </div>     
                </a>          
			</div><!-- close portfolio -->
            
            <!-- portfolio box 4 -->
			<div class="grid-33 mobile-grid-50 tablet-grid-50">
            	<a class="portfolio-popup" href="images/portfolio/large/p4.jpg">
            	<div class="portfolio-box">       
            	<figure class="portfolio-image"><img src="images/portfolio/thumb/p4.jpg" alt="portfolio image"></figure><!-- close portfolio image -->
                <div class="portfolio-caption">
                    <h3 class="portfolio-title">Brooklyn<span class="portfolio-category">Logo Design</span></h3>
                </div><!-- close portfolio caption -->
                </div>  
                </a>             
			</div><!-- close portfolio -->
            
            <!-- portfolio box 5 -->
			<div class="grid-33 mobile-grid-50 tablet-grid-50">
            	<a class="portfolio-popup" href="images/portfolio/large/p5.jpg">
            	<div class="portfolio-box">       
            	<figure class="portfolio-image"><img src="images/portfolio/thumb/p5.jpg" alt="portfolio image"></figure><!-- close portfolio image -->
                <div class="portfolio-caption">
                    <h3 class="portfolio-title">Street<span class="portfolio-category">Photography</span></h3>
                </div><!-- close portfolio caption -->
                </div>          
                </a>     
			</div><!-- close portfolio -->
            
            <!-- portfolio box 6 -->
			<div class="grid-33 mobile-grid-50 tablet-grid-50">
            	<a class="portfolio-popup" href="images/portfolio/large/p6.jpg">
            	<div class="portfolio-box">       
            	<figure class="portfolio-image"><img src="images/portfolio/thumb/p6.jpg" alt="portfolio image"></figure><!-- close portfolio image -->
                <div class="portfolio-caption">
                    <h3 class="portfolio-title">Cecilia<span class="portfolio-category">Photography</span></h3>
                </div><!-- close portfolio caption -->
                </div>    
                </a>           
			</div><!-- close portfolio -->
     
            <!-- portfolio box 7 -->
			<div class="grid-33 mobile-grid-50 tablet-grid-50">
            	<a class="portfolio-popup" href="images/portfolio/large/p7.jpg">
            	<div class="portfolio-box">       
            	<figure class="portfolio-image"><img src="images/portfolio/thumb/p7.jpg" alt="portfolio image"></figure><!-- close portfolio image -->
                <div class="portfolio-caption">
                    <h3 class="portfolio-title">Tree<span class="portfolio-category">Photography</span></h3>
                </div><!-- close portfolio caption -->
                </div>  
                </a>             
			</div><!-- close portfolio -->
            
            <!-- portfolio box 8 -->
			<div class="grid-33 mobile-grid-50 tablet-grid-50">
            	<a class="portfolio-popup" href="images/portfolio/large/p8.jpg">
            	<div class="portfolio-box">       
            	<figure class="portfolio-image"><img src="images/portfolio/thumb/p8.jpg" alt="portfolio image"></figure><!-- close portfolio image -->
                <div class="portfolio-caption">
                    <h3 class="portfolio-title">Bridge<span class="portfolio-category">Photography</span></h3>
                </div><!-- close portfolio caption -->
                </div>  
                </a>             
			</div><!-- close portfolio -->
            
            <!-- portfolio box 9 -->
			<div class="grid-33 mobile-grid-50 tablet-grid-50">
            	<a class="portfolio-popup" href="images/portfolio/large/p9.jpg">
            	<div class="portfolio-box">       
            	<figure class="portfolio-image"><img src="images/portfolio/thumb/p9.jpg" alt="portfolio image"></figure><!-- close portfolio image -->
                <div class="portfolio-caption">
                    <h3 class="portfolio-title">Headphone<span class="portfolio-category">Photography</span></h3>
                </div><!-- close portfolio caption -->
                </div>   
                </a>            
			</div><!-- close portfolio -->
			
		</div><!-- close grid-container -->
	</section><!-- close portfolio section -->
    
    <div class="clear"></div>
    
    <!-- parallax banner 4 -->
     <section id="social-section" class="parallax-section parallax-banner-4 parallax-background social-section">
     <div class="parallax-overlay parallax-overlay-4"></div><!-- parallax overlay -->
		<div class="grid-container parallax-content">
        	<div class="grid-parent grid-100 mobile-grid-100 tablet-grid-100">
            
            	<!-- parallax header -->
            	<div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                    <header class="parallax-header">
                    <h2 class="parallax-title"><span>Get Connected</span></h2>
                    <p class="parallax-slogan">Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna sed pulvinar.</p>
                    </header>
                </div>
            	<!-- close parallax header -->
            
            <div class="clear"></div>
            
            <!-- social network -->
            <ul class="social-network">
            	<li class="facebook grid-20 tablet-grid-20 mobile-grid-50">
                	<a class="social-link" href="#" target="_blank">
                    <span class="social-icon"><i class="icon-facebook icon-4x"></i></span>
                    <span class="social-title">Facebook</span>
                    <span class="social-info">Join the Conversation</span>
                    </a>
                </li>
                <li class="twitter grid-20 tablet-grid-20 mobile-grid-50">
                	<a class="social-link" href="#" target="_blank">
                    <span class="social-icon"><i class="icon-twitter icon-4x"></i></span>
                    <span class="social-title">Twitter</span> 
                    <span class="social-info">Get the Latest News</span>
                    </a>
                </li>
                <li class="google-plus grid-20 tablet-grid-20 mobile-grid-50">
                	<a class="social-link" href="#" target="_blank">
                    <span class="social-icon"><i class="icon-google-plus icon-4x"></i></span>
                    <span class="social-title">Google Plus</span>
                    <span class="social-info">Join Our Circle</span>
                    </a>
                </li>
                <li class="youtube grid-20 tablet-grid-20 mobile-grid-50">
                	<a class="social-link" href="#" target="_blank">
                    <span class="social-icon"><i class="icon-youtube icon-4x"></i></span>
                    <span class="social-title">YouTube</span>
                    <span class="social-info">View Exclusive Videos</span>
                    </a>
                </li>
            	<li class="instagram grid-20 tablet-grid-20 mobile-grid-50">
                	<a class="social-link" href="#" target="_blank">
                	<span class="social-icon"><i class="icon-instagram icon-4x"></i></span>
                    <span class="social-title">Instagram</span>
                    <span class="social-info">Latest Images</span>
                    </a>
                </li>
            </ul><!-- close social network -->
    	
      		</div><!-- close grid-100 -->
		</div><!-- close grid container -->
	</section><!-- close parallax banner 4-->
    <!-- close social section -->
    
    <div class="clear"></div>
    
    <!-- testimonial section -->
	<section id="testimonial-section" class="testimonial-section content-section">
    	
		<div class="grid-container">
        
        <!-- section header -->
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <header class="section-header">
                    <h2 class="section-title"><span>Happy Customers</span></h2>
                    <p class="section-slogan">Over <strong>10.500</strong> extremely satisfied customers!</p>
                </header>
            </div>
            <!-- close section header -->
            
            <div class="clear"></div>
        	
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
            
            <div class="ut-testimonials">
            	<div id="avatarSlider" class="ut-rotate-avatar">
                	<ul class="slides">
						<li>
                        	<img src="images/member1.jpg" class="ut-quote-avatar" alt="avatar">
                        </li>
						<li>
                        	<img src="images/member6.jpg" class="ut-quote-avatar" alt="avatar">
                        </li>
					</ul>
           		</div>
                
                <div id="quoteSlider" class="ut-rotate-quote">
                	<ul class="slides">
                        <li>
                        	<span class="ut-quote-comment">Five stars for this theme. Awesome design and great, quick support.</span>
                            
                            
							<h3 class="ut-quote-name">Jax Teller via Twitter</h3>
                            
                        </li>
                        <li>
                        	<span class="ut-quote-comment">Just a huge thanks to the United Themes team for being so helpful in their forums.</span>
                            
							<h3 class="ut-quote-name">Tara Knowles-Teller via Twitter</h3>
                            
                        </li>
                    </ul>
                </div>    
            </div>
            
           </div>			
            
		</div><!-- close container -->
	</section><!-- close testimonial section -->
    
    <div class="clear"></div>
    
     <!-- contact section -->
     <section id="contact-section" class="contact-section parallax-section parallax-banner-5 parallax-background">
     <div class="parallax-overlay parallax-overlay-5"></div><!-- parallax overlay -->
		<div class="grid-container parallax-content">
        
            	<!-- parallax header -->
            	<div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                    <header class="parallax-header">
                        <h2 class="parallax-title"><span>Contact us</span></h2>
                        <p class="parallax-slogan">We are back with <strong>awesome</strong> stuff!</p>
                    </header>
                </div>
            	<!-- close parallax header -->
            
            <div class="clear"></div>
            
            <!-- contact wrap -->
            <div class="grid-100 mobile-grid-100 tablet-grid-100">
        	<div class="contact-wrap">
            
            
            <!-- contact message -->
            <div class="grid-parent grid-40 suffix-5 mobile-grid-100 tablet-grid-100">
            <div class="contact-message">
            <h3 class="grid-100">Our Address</h3>
            	<ul class="icons-ul">
                	<li><i class="icon-li icon-home"></i>100 Biscayne Blvd. (North) 21st Floor <br> New World Tower Miami, <br>Florida 33148</li>
                    <li><i class="icon-li icon-phone"></i>(305) 555-4446</li>
                    <li><i class="icon-li icon-envelope-alt"></i>spam@unitedthemes.com</li>
                    <li><i class="icon-li icon-globe"></i>www.unitedthemes.com</li>
                </ul>
            </div>
            </div><!-- close contact message -->
            
            <!-- contact form -->
            <div class="grid-parent grid-55 mobile-grid-100 tablet-grid-100">
            <div class="contact-form-holder clearfix">
          	
            
            <h3 class="grid-100">Drop us a line</h3>
            
            <!-- contact form -->
            <form id="contact-form" class="contact-form">
            
            	<ul class="grid-50">
                
                	<li><input id="name" class="name" type="text" name="name" placeholder="Name:"></li>
                    <li><input id="email" class="email" type="email" name="email" placeholder="E-Mail:"></li>
                    <li><input id="phone" class="phone" type="text" name="phone" placeholder="Phone:"></li>
                    
            	</ul>
                
                <ul class="grid-50">
                    <li><textarea id="message" class="message" name="message" placeholder="Message:"></textarea></li>
                </ul>
                
                <div class="grid-100">    
                    <input id="send-btn" class="send-btn" type="submit" name="send-btn" value="Send">
                    <div class="success-message">Email has been sent!</div>
                    <div class="alert-message"></div>
                    <div class="error-message">Email could not be delivered. Please try again later!</div>
                </div>   
              </form><!-- close contact form -->
                    
            </div>
            </div><!-- close contact-form-holder -->
            
            </div>
            </div><!-- close contact wrap -->
            
            
		</div><!-- close container -->
	</section><!-- close contact section -->
	
    <div class="clear"></div>
    
	<!-- Footer Section -->
	<footer class="footer">
		<div class="grid-container">
			<div class="grid-100 mobile-grid-100 tablet-grid-100">
                <h3>We <i class="icon-heart"></i> your mom.</h3>
                <span class="copyright">Powered by <a href="htt://www.unitedthemes.com" target="_blank">United Themes</a></span>
         	</div>
		</div><!-- close container -->
	</footer><!-- close footer -->
</div>
	
    <!-- Load Javascript
  	================================================== -->
    <script src="js/jquery.mb.YTPlayer.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/jquery.parallax.min.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
   	<script src="js/jquery.custom.js"></script>
    
<!-- End Document
================================================== -->
</body>
</html>